<html>
<head>

  <!-- Insert this line above script imports  -->
  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/notifyjs/dist/notify.js"></script>

  <script>
  const ipcRenderer = require('electron').ipcRenderer;
  ipcRenderer.on('toggle-debug-canvas', function(){ $('#canvas-mirror').toggle() });
  require('./js/BatchAdd');
  require('./js/ShowRep');
  require('./js/CanvasPanel');
  $(document).ready(() => { $('[data-toggle="tooltip"]').tooltip() });
  </script>

  <!-- Insert this line after script imports -->
  <script>if (window.module) module = window.module;</script>

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="build/styles.css">
</head>
<body>

  <div class="container">

    <div class="row">

      <div class="col-md-3">
        <h1 class="nice-title">
          Batch add
          <span class="question" data-toggle="tooltip" data-placement="right" data-html="true" title="One word per line <ul><li>Empty lines will be ignored</li><li>Words will be trimmed</li></ul>">?</span>
        </h1>
        <textarea id="batch-add" class="form-control" rows=2></textarea>
        <div class="btn-bar">
          <button id="batch-add-btn" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i></button>
        </div>
      </div>

      <div class="col-md-9">
        <h3 id="word-display" class="selectable"></h3>
      </div>

      <div class="col-md-9">

        <canvas id='canvas-main' width='600' height='500' class="drawable" style="border:2px solid;"></canvas>
        <canvas id='canvas-mirror' style="border: 2px solid; display: none;"></canvas>

        <div class="btn-bar">
          <button id="canvas-answer" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i></button>
          <button id="canvas-get" class="btn btn-primary"><i class="glyphicon glyphicon-download-alt"></i></button>
          <button id="canvas-clear" class="btn btn-secondary"><i class="glyphicon glyphicon-remove"></i></button>
        </div>

        <div id="result" style="font-size: 30px;"></div>

      </div>

    </div>


    <div id="footer">
      <span>Total word count: <span id="total-count"></span></span>
      <span class="separator"></span>
      <span>aaa</span>
    </div>
  </div>

</body>
</html>
