<html>
<head>

  <!-- Insert this line above script imports  -->
  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/notifyjs/dist/notify.js"></script>

  <script>
  const ipcRenderer = require('electron').ipcRenderer;
  ipcRenderer.on('toggle-debug-canvas', function(){ $('#canvas-mirror').toggle() });
  require('./js/sidebar/BatchAdd');
  require('./js/sidebar/ConfigMenu');
  var ShowRep = require('./js/ShowRep');
  require('./js/CanvasPanel');
  require('./js/Footer');
  $(document).ready(() => { $('[data-toggle="tooltip"]').tooltip() });
  </script>

  <!-- Insert this line after script imports -->
  <script>if (window.module) module = window.module;</script>

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="build/main.css"/>
</head>
<body>
  <div class="container main-container">
    <div class="row">

      <!-- Sidebar -->
      <div class="col-xs-3">

        <!-- Add words -->
        <h1 class="nice-title">
          Batch add
          <span class="question" data-toggle="tooltip" data-placement="bottom" title="One word per line">?</span>
        </h1>
        <textarea id="batch-add" class="form-control" rows=2></textarea>
        <div class="btn-bar">
          <button id="batch-add-btn" class="btn btn-primary" style="display: none;"><i class="glyphicon glyphicon-ok"></i></button>
        </div>


        <!-- Auto dictionary switch -->
        <label class="form-block" for="auto-dict-switch" data-toggle="tooltip" data-placement="right" title="Open (or reload) a dictionary window every time a new word appears">

          <span class="form-block-element">Auto-dict</span>

          <div class="form-block-element">
            <label class="switch">
              <input type="checkbox" id="auto-dict-switch">
              <span class="slider round"></span>
            </label>
          </div>
        </label>

        <!-- Hide switch -->
        <label class="form-block" for="hide-switch" data-toggle="tooltip" data-placement="right" title="Hide word after first pencil stroke">

          <span class="form-block-element">Hide word</span>

          <div class="form-block-element">
            <label class="switch">
              <input type="checkbox" id="hide-switch">
              <span class="slider round"></span>
            </label>
          </div>
        </label>


        <label class="form-block" data-toggle="tooltip" data-placement="right" title="How many results compare the word to (e.g. if the value is 1, only the first result will be used as the possible answer)">

          <span class="form-block-element">Easiness</span>

          <div class="form-block-element">
            <input type="number" class="form-control" id="easiness-input" min=1 max=10>
          </div>
        </label>


        <!-- Form examples -->
        <!--

        <label class="form-block" data-toggle="tooltip" data-placement="right" title="Tooltip message">
          <span class="form-block-element">Input</span>
          <div class="form-block-element">
            <input type="text" class="form-control"/>
          </div>
        </label>

        <label class="form-block" data-toggle="tooltip" data-placement="right" title="Tooltip message">
          <span class="form-block-element">Select</span>
          <div class="form-block-element">
            <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </label>

        <label class="form-block" data-toggle="tooltip" data-placement="right" title="Tooltip message">
          <span class="form-block-element">Long long long long long label label label</span>
          <div class="form-block-element">
            <input type="text" class="form-control"/>
          </div>
        </label>
      -->


      </div>


      <!-- Main content -->
      <div class="col-xs-9">
        <h3 id="word-display" class="selectable"></h3>
        <h3 id="hidden-word-display" class="hidden-word" style="display: none;" data-toggle="tooltip" data-placement="left" title=""></h3>
        <canvas id='canvas-main' width='500' height='400' class="drawable"></canvas>
        <canvas id='canvas-mirror' style="border: 2px solid; display: none;"></canvas>
        <div class="btn-bar">
          <button id="canvas-answer" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i></button>
          <button id="canvas-get" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Show results"><i class="glyphicon glyphicon-eye-open"></i></button>
          <button id="canvas-not-now" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Pass (I don't want to answer it now)"><i class="glyphicon glyphicon-time"></i></button>
          <button id="canvas-undo" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Undo"><i class="glyphicon glyphicon-repeat"></i></button>
          <button id="canvas-clear" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Clear canvas"><i class="glyphicon glyphicon-remove"></i></button>

        </div>
        <div id="result"></div>
      </div>
    </div>

    <div id="footer">
      <span>Total word count: <span id="total-count"></span></span>
      <span class="separator"></span>
      <span>Scheduled: <span id="scheduled-count"></span></span>

    </div>
  </div>

</body>
</html>
