@word-display-font-size: 30px;

body {
  background-color: @body-background-color;
  color: @light;
  font-family:'メイリオ',Meiryo,sans-serif;
  user-select: none;
  cursor: default;
  overflow: hidden;
}

.main-container {
  margin: 0;
  width: 970px;
}


.selectable {
  user-select: text;
  cursor: default;
}

.hidden-word {
  color: @btn-secondary-color;
  font-size: @word-display-font-size;
}

canvas {
  background-color: @light;
  border: 1px solid @dark-border-color;
  margin-bottom: @margin-bottom;
}

canvas.drawable {
  cursor: crosshair;
  border: 1px solid @dark-border-color;
}

.nice-title {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

span.question {
  cursor: pointer;
  line-height: 16px;
  font-size: 15px;
  padding: 10px;
}

.separator{
  margin-right: 20px;
}


#word-display{
  font-size: @word-display-font-size;
}

.single-result {
  margin-right: 10px;
  padding: 10px;
  font-size: 20px;
  display: inline-block;
}

.single-result:hover {
  border-radius: @border-radius;
  background-color: @highlight-background-color;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  border-top: 1px solid @dark-border-color;
  background-color: @body-background-color;
  color: @not-so-light-font;
  height: 50px;
}
